@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}


main{
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.box{
  height: 300px;
  width: 300px;
  background-color: crimson;
  border-radius: 10px;
}
